body{
  background: ghostwhite;
  color: dimgray;
  font-family: serif;
  text-align: center;
}

h1{
  font-size: 2rem;
}

#container{
  margin: 5% auto;
  border-radius: 5px;
  text-align: center;
}

/* The 9 squares */
.box{
  display: inline-block;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  padding: 0;
  position: relative; /* IMPORTANT */
}

/* Center the X/O perfectly */
.box span{
  position: absolute; /* stays inside the box because .box is relative */
  inset: 0;           /* top/right/bottom/left = 0 */
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 75px;
  font-family: sans-serif;
  line-height: 1;
  user-select: none;
  cursor: pointer;
}

/* Borders */
.top{ border-top: none; }
.bottom{ border-bottom: none; }
.left{ border-left: none; }
.right{ border-right: none; }

/* Winner highlight */
.activeBox{
  background: silver;
}

/* Status text */
#status{
  margin-top: 10px;
  font-family: sans-serif;
}

/* Alert (if you use it) */
.alert{
  height: 75px;
  width: 125px;
  display: inline-block;
  background: ghostwhite;
  position: relative;
  z-index: 10;
  margin-top: -50%;
  border-radius: 20px;
  box-shadow: 0 0 75px 2px dimgray;
  animation: larger 0.5s forwards;
  box-sizing: content-box;
  padding: 30px;
  bottom: 50px;
  top: 0;
}

button{
  background: dimgray;
  border-radius: 6px;
  color: ghostwhite;
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
}

button:focus{
  background: silver;
}

@keyframes larger{
  from{
    height: 75px;
    width: 125px;
  }
  to{
    height: 100px;
    width: 250px;
  }
}
